.main{
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 3rem;

    > a{
        // background-color: yellow;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 2rem;
        
    }

    > .active{
        letter-spacing: .5rem;
        font-size: 3rem;
        color: rgb(66, 24, 88);
    }
}